html,body {
  margin:0;
  padding:0;
}

*:focus {
  outline: none;
}

a {
  text-decoration:none;
  color: #000;
}

a:hover {
  text-decoration:underline;
}

a:visited {
  color: #000;
}

header {
  background: #191919;
  height: 60px;
  width: 100%;
  z-index: 5;
  color: #FFF;
  padding:0 20px;
  box-sizing: border-box;
  position: relative;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

header .logo {
  color: #FFF;
  font-size: 25px;
  line-height: 60px;
  font-family: 'Staatliches', cursive;
  float: left;
}

header .search-icon {
  width: 20px;
  color: #FFF;
  float: right;
  margin: 0 15px;
  cursor: pointer;
  line-height: 68px;
}

header .login {
  float:right;
  line-height: 68px;
  cursor: pointer;
}

header .login.login-info{
  line-height: 70px;
}

header .login.login-info img{
  width: 22px;
  height: 22px;
  border-radius: 3px;
}

header .tips {
  position: absolute;
  right: 5px;
  top : 70px;
  background: #FFF;
  border: 1px solid #000;
  color: #222;
  font-size: 13px;
  padding:3px 5px; 
  display:inline;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #ccc;
}

header .tips:hover,header .tips:hover .arrow, header .tips:hover .inside {
  background: #f7f7f7;
}

header .tips .arrow {
  width: 10px;
  height:10px;
  transform: rotate(45deg);
  background: #FFF;
  border: 1px solid #000;
  position: absolute;
  top: -6px;
  right: 20px;
  z-index: 0;
}

header .tips .inside {
  position: relative;
  top: -3.5px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #FFF;
  padding: 5px 0 0;
}

.title {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px #f2f2f2 solid;
  color: #000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
  font-family: "acumin-pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 120px;
  padding: 80px 0;
}

.title h1 {
  font-size:60px;
  width: 100%;
  margin:0;
}

.title h4 {
  font-weight: 100;
  font-size: 30px;
  margin:0;
}

.title .search-box {
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.title .search-box input {
  height: 35px;
  border: 0;
  font-size: 35px;
  width: 280px;
  text-align: center;
}

.title .search-box input::placeholder {
  color: #ccc;
  font-weight: 100;
}

.content {
  background: #f9f9f9;
  height: 100%;
  width: 100%;
  min-height:500px;
  padding: 0 15px;
  box-sizing: border-box;
}

.content .container {
  width: 460px;
  min-height: 80px;
  margin: 0 auto;
}

.content .container ul {
  margin: 0;
  list-style: none;
  padding: 15px 0;
}

.content .container ul li {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  min-height:80px;
  padding: 5px;
}

.content .container ul li:hover {
  background: #fff;
}

.content .container ul:after {
  content: "";
  clear: both;
  display: table;
}

.content .container ul li .block {
  width:100%;
  height:100%;
  box-sizing: border-box;
  color: #191919;
  float: left;
  text-align: left;
  cursor: pointer;
  display:flex;
}

.content .container ul li .block div.state {
  width:34px;
  font-size:12px;
  height:20px;
  line-height: 20px;
  padding:3px;
  text-align: center;
  justify-content: flex-start;
}

.content .container ul li .block div.state span{
  border:1px solid #df2727;
  background: #df2727;
  border-radius: 5px;
  color:#FFF;
  padding: 2px;
}

.content .container ul li .block div.center-content {
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.content .container ul li .block div.center-content > span {
  font-size: 16px;
  font-weight: bold;
}

.content .container ul li .block div.center-content .meta-info {
  display: flex;
  align-items: center;
  margin-top:5px;
}

.content .container ul li .block div.center-content .meta-info .avatar{
  width:22px;
  height:22px;
  border-radius: 50px;
}

.content .container ul li .block div.center-content .meta-info span {
  font-size: 13px;
  color:#6c6c6c;
  margin-left:8px;
}

.content .container ul li .block div.center-content > span:hover {
  text-decoration: underline;
}

.content .container ul li .block div.center-content .foot {
  text-align: right;
  font-size: 13px;
  color: #222;
  opacity: 0;
}

.content .container ul li .block:hover div.center-content .foot {
  animation-name:slideDown;
  animation-duration:1s;
  animation-fill-mode: forwards;
  opacity: 1;
}

.content .container ul li .block div.center-content .foot button {
  border:0;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
}

.content .container ul li .block img {
  width: 100%;
  height: 70%;
} 

.content .container ul li .block .mask {
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 70%;
} 

.content .container ul li .block .mask:hover {
  background:rgba(0,0,0,0.3);
  animation-name:shadow;
  animation-duration:1s;
  animation-fill-mode: forwards;
}

@keyframes shadow{
  from{
    background:rgba(0,0,0,0);
  }
  to{
    background:rgba(0,0,0,0.3);
  }
}

@keyframes slideDown{
  from{
    transform: translateY(-5px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}


@media screen and (max-width: 480px) {
  .title {
    height: 80px;
  }

  .title h1 {
    font-size:30px;
  }

  .title h4 {
    font-size:22px;
  }

  .content .container {
    width: 100%;
  }

  .content .container ul li {
    width: 100%;
  }
}