html,body {
  margin:0;
  padding:0;
}

header {
  background: #191919;
  height: 60px;
  width: 100%;
  z-index: 5;
  padding:0 20px;
  box-sizing: border-box;
}

header .logo {
  float:left;
  color: #FFF;
  font-size: 25px;
  line-height: 60px;
  font-family: 'Staatliches', cursive;
}

.title {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px #f2f2f2 solid;
  color: #000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
  font-family: "acumin-pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 120px;
  padding: 80px 0;
}

.title h1 {
  font-size:60px;
  width: 100%;
  margin:0;
}

.title h4 {
  font-weight: 100;
  font-size: 30px;
  margin:0;
}

.content {
  background: #f9f9f9;
  height: 100%;
  width: 100%;
}

.content .container {
  width: 860px;
  min-height: 80px;
  margin: 0 auto;
}

.content .container ul {
  margin: 0;
  list-style: none;
}

.content .container ul li {
  width: 25%;
  float:left;
  height: 180px;
  box-sizing: border-box;
  padding: 10px;
}

.content .container ul li .block {
  background: #FFF;
}