<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%-title%></title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="/public/css/font.css" rel="stylesheet">
</head>
<body>
    <!-- 使用模板数据 -->
    <div id="app">
        <header>
            <div class="logo">Wevorites</div>
        </header>
        <div class="title">
            <h1><%-title%>收藏馆</h1>
            <h4>偶然遇到的宝藏</h4>
        </div>
        <div class="content">
            <div class="container">
                <ul>
                    <li :key="item._id" v-for="item in list"></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                list: [],
                serverURL: '<%-webServer%>',
                memberId: '<%-memberId%>'
            },
            mounted () {
                fetch(`${this.serverURL}/list/${this.memberId}`).then((res) => {
                    console.log(res)
                    if (res.status === 200 && res.ok) {

                    } else {
                        console.err('NetworkError')
                    }
                })
            }
        })
    </script>
</body>
</html>