<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%-title%></title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <!-- 使用模板数据 -->
    <div id="app">
        <header></header>
        <div class="title">
            <h1><%-title%>收藏馆</h1>
            <h4>偶然遇到的爆仓</h4>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
    </script>
</body>
</html>